* {
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-image: url("images/pattern-background-desktop.svg");
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
}
@media only screen and (min-width: 1440px) {
  .container {
    background-image: url("images/illustration-hero.svg");
    background-size: 450px 200px;
    background-repeat: no-repeat;
    background-color: white;
    margin: 75px 600px;
    width: 450px;
    height: 697px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    left: 50px;
  }

  div {
    display: inline;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }

  h2 {
    padding-top: 180px;
    padding-bottom: 25px;
    text-align: center;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
  }
  p {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    padding: 0px 50px;
    font-size: 15px;
    margin: -30px 18px -10px 18px;
    color: hsl(224, 23%, 55%);
  }
  img {
    padding-left: -60px;
  }
  .plan-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: hsl(225, 100%, 98%);
    padding-top: 15px;
    padding-bottom: -5px;

    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 50px;

    width: 350px;
    height: 70px;
    border-radius: 10px;
  }
  .image-container {
    margin-top: -10px;
    margin-left: -25px;
    padding: 0px;
  }
  .plan {
    display: inline-grid;
    margin-left: -70px;
    margin-top: -20px;
  }

  .anual-plan {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
  }
  .price {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    align-self: flex-end;
    font-size: 14px;
    margin-top: 5px;
    color: hsl(224, 23%, 55%);
  }
  .chang {
    margin-bottom: 10px;
    margin-right: -20px;
    font-weight: 700;
    font-family: "Red Hat Display", sans-serif;
    font-size: 12px;
    color: hsl(245, 75%, 52%);
  }
  a.chang:hover {
    color: hsl(245, 81%, 69%);
  }
  .paymentbtn {
    display: inline-grid;
    align-self: baseline;
    margin-left: 50px;
    margin-top: 0px;
  }

  button {
    width: 350px;
    height: 40px;
    border: none;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 94%);
    font-weight: 500;
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 10px 40px hsl(224, 23%, 55%);
  }
  button:hover {
    background-color: hsl(245, 81%, 69%);
  }
  a.cancelpayment {
    margin-left: 180px;
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
    cursor: pointer;
    margin-top: -60px;
  }
  a.cancelpayment:hover {
    color: hsl(223, 47%, 23%);
  }
}

@media only screen and (max-width: 375px) {
  body {
    background-image: url("images/pattern-background-mobile.svg");
    width: 380px;
    
  }
  .container {
    background-image: url("images/illustration-hero.svg");
   background-size: 327px 160px;
    background-repeat: no-repeat;
    background-color: white;
    width:327px;
    height: 567px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 75px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 40px hsl(224, 23%, 55%);
  }

  div {
    display: inline;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }

  h2 {
    padding-top: 150px;
    padding-bottom: 25px;
    text-align: center;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    
  }
  p {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    padding: 0px 50px;
    font-size: 15px;
    margin: -30px -10px;
    color: hsl(224, 23%, 55%);
    justify-content: center;

  }
  img {
    padding-right: 120px;
  }
  .plan-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: hsl(225, 100%, 98%);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;

    width: 279px;
    height: 81px;
    border-radius: 10px;
  }
  .image-container {
    margin-top: 10px;
    margin-left: px;
    padding: 5px;
  }
  .plan {
    display: inline-grid;
    margin-left: -150px;
    margin-top: -10px;
  }

  .anual-plan {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
    padding-top: 10px;
  }
  .price {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    align-self: flex-end;
    font-size: 14px;
    margin-top: 5px;
    color: hsl(224, 23%, 55%);
  }
  .chang {
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 15px;
    font-weight: 700;
    font-family: "Red Hat Display", sans-serif;
    font-size: 12px;
    color: hsl(245, 75%, 52%);
  }
  a.chang:hover {
    color: hsl(245, 81%, 69%);
  }
  .paymentbtn {
    display: inline-grid;
    align-self: baseline;
    margin-left: 50px;
    margin-top: 0px;
  }

  button {
    width: 279px;
    height: 50px;
    border: none;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 94%);
    font-weight: 500;
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 10px 40px hsl(224, 23%, 55%);
    margin-left: -20px;


  }
  button:hover {
    background-color: hsl(245, 81%, 69%);
  }
  a.cancelpayment {
    margin-left: 180px;
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
    cursor: pointer;
    margin-top: -40px;
    margin-left: 120px;
  }
  a.cancelpayment:hover {
    color: hsl(223, 47%, 23%);
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    padding-top: 10px;
    margin-left: 45px;
  }
  

}

